
.container_film_actif{
    position: relative;
    height: 90%;
}


.film_list_added_elements{
	display: flex;
	position: relative;
	height: 30%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #62CEE2;
}

.film_list_added_elements i {
    font-size: 10em;
    margin-top: 30px;
    margin-left: 10px;
}

.arrow_button_list_added, .arrow_button_right {
    position: relative;
    display: flex;
    align-items: center;
    width: 7.5%;
}

.arrow_button_list_added > img, .arrow_button_right > img{
    position: relative;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.film_list_container{
    position: relative;
    display: block;
    width: 85%;
    height: 208px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #FFFFFF;
}

.film_added_element{
    position: relative;
    display: inline-block;
    height: 85%;
    margin-top: 1%;
    width: 15%;
    margin-left: 2%;
}

.film_added_element_preview{
    position: relative;
    display: block;
    width: 100%;
    height: 75%;
}

.film_element_img{
    height: 65%;
    text-align: center;
}

.film_element_img > *{
    height: 100%;
}

.film_element_titre{
    display: block;
    position: relative;
    text-align: center;
    font-size: 2vh;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    font-family: Calibri;
}

.film_element_data{
    text-align: center;
    font-size: 1.5vh;
    font-family: Calibri;
}