/* définition de polices */

@font-face {
	font-family: "Roboto";
	src: url('../assets/police/Roboto-Thin.ttf');
}

/* Propriétés CSS de la page INDEX */


html,body{
	margin : 0;
}

.banderolle{
	height: 15px;
	display: block;
}

.couleur{
	width: 25%;
	height: inherit;
	margin: 0;
	display: inline-block;
	white-space: initial;
	float: left;
}

.couleur1{
	background-color: #FDC31A;
}

.couleur2{
	background-color: #F28E2B;
}

.couleur3{
	background-color: #15A8A5;
}

.couleur4{
	background-color: #C0D23F;
}

.titre{
 	font-size: 230%;
 	margin-top: 5%;
 	text-align: center;
 	font-family: "Roboto";
}

.connect_container{
	position: relative;
	display: block;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	background-color: #15A8A5;
}

.connect_titre{
	font-size: 150%;
	text-align: center;
	display: block;
	padding-top: 2%;
	padding-bottom: 2%;
}

.connect_titre > *{
	display: inline-block;
}

.connect_img{
	width: 40px;
	height: 40px;
	padding-right: 5%;
	vertical-align: middle;
}

.connect_titre_text{
	vertical-align: middle;
}

.connect_input{

}

.connect_button{
}

.connect_inner_button{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 4%;
	padding-right: 4%;
	margin-top: 5%;
	margin-bottom: 5%;
	cursor: pointer;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: solid 1px;
}